$font-white: #fff;
$header-background-color: #222;
@mixin nav-font {
  font-family: 'Lato', sans-serif;
  color:#222;
  font-size:2em;
}
@mixin header-font{
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
  list-style: none;
}
body {
  @include size(100%);
}
nav {
  position:absolute;
  top:0;
  border:1px solid #222;
  .navbar {
    @include size(100vw, 150px);
    background-color:#fff;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  li {
    @include nav-font;
    margin:50px 30px;
    &:last-child {
      margin-right:50px;
    }
    &:first-child {
      position:absolute;
      left:30px;
      top:0;
    }
    a{
      font-size:1em;
    }
  }
}
header {
  @include size(100vw, 85vh);
  .header__container {
    @include size(100vw, 100%);
    background: #fff url("https://i.imgur.com/CysZ9qI.jpg") 100% 30%/cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top:150px;
  }
  .header__slogan-container {
    @include size(55vw, 400px);
    background-color:$header-background-color;
    margin-top:-auto150px;
    }
  .header__title {
    @include header-font;
    font-size:4em;
    margin:50px;
  }
  .header__slogan {
    @include header-font;
    font-size:3em;
    font-style: italic;
    margin:40px;
  }
}

@media only screen and (max-width : 1300px) {
  nav {
    li {
      margin:50px 15px;
      &:last-child {
        margin-right:20px;
      }
      &:first-child {
        position:absolute;
        left:20px;
        top:0;
      }
      a {
        font-size:0.6em;
      }
    }
  }
  header {
    .header__slogan-container {
      @include size(45vw, 390px);
      background-color:$header-background-color;
      }
    .header__title {
      @include header-font;
      font-size:3em;
      margin:30px;
    }
    .header__slogan {
      @include header-font;
      font-size:2em;
      margin:30px
    }
  }
}
a {
  text-decoration: none;
  color: #222;
}
* {
  border:1px solid red;
}
