body { width: 100%; height: 100%; }

nav { width: 1000px; display: inline; }

header { width: 100vw; height: 100vh; background: #fff url("https://i.imgur.com/CysZ9qI.jpg") 0/cover; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

header .header__container { width: 1200px; height: 500px; }

header .header__title { font-size: 4em; font-family: "Roboto", sans-serif; color: #222; }

header .header__slogan { font-size: 3em; color: #fff; }

header * { border: 1px solid red; }
